.sconf_temp
.sconsign.dblite
*.os
*.exe
*.o
*.obj
*.pyc
*.dll
*.dll.a
*.lib
*.ilk
*.pdb

/target
**/*.rs.bk
*.zip
msys-build

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
build/

# Project-specific
config.h

# Editor/IDE
.vscode

#LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.bak
*.bbl
*.blg
*.toc

Unity
